* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  background: #111111ff;
}
a {
  text-decoration: none;
  color: #ccccccff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s;
}
.active {
  color: #fff;
}
a:hover {
  color: #fff;
}
li {
  list-style: none;
}
.container {
  width: 95%;
  margin: 0 auto;
  font-size: 2rem;
  color: #fff;
}
.border-top {
  border-top-color: #222222ff;
  border-top-width: 0.0625rem;
  border-top-style: solid;
}
// .ant-btn-default {
//   color: #000;
//   &:hover {
//     background-color: linear-gradient(
//       90deg,
//       #da9e1c 0,
//       #da9e1c 100%
//     ) !important;
//     border-color: none !important;
//   }
// }
